<div class="inicio">
    <h2>Paises</h2>
</div>

  <div class="formulario">
    <h2>Formulario de Registro</h2>
    <form action="GuardarDeportista" method="post">
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <br><br>
    
        <input type="text" id="apellido" name="apellido" placeholder="Apellido">
        <br><br>
    
        <input type="datetime" id="telefono" name="telefono" placeholder="fecha de nacimiento">
        <br><br>
    
       
        <select id="pais" name="pais" placeholder="Deporte">
            @foreach(Deporte deporte in ViewBag.ListarDeportes)
                    {
                        if (ViewBag.ListaDeportes != null && ViewBag.ListaDeportes.IdDeporte != null && ViewBag.ListaDeportes.IdDeporte == deporte.IdDeporte)
                        {
                            <option value="@deporte.IdDeporte" selected>@deporte.Nombre</option>
                        }
                        else
                        {
                            <option value="@deporte.IdDeporte">@deporte.Nombre</option>
                        }
                    }
        </select>
        <br><br>
    
        
        <select id="pais" name="pais" placeholder="Pais">
            @foreach(Pais pais in ViewBag.ListaPais)
                    {
                        if (ViewBag.ListaPais != null && ViewBag.ListaPais.IdPais != null && ViewBag.ListaPais.IdPais == pais.IdPais)
                        {
                            <option value="@pais.IdPais" selected>@pais.Nombre</option>
                        }
                        else
                        {
                            <option value="@pais.IdPais">@pais.Nombre</option>
                        }
                    }
        </select>
        <br><br>
        <button type="submit">Enviar</button>
    </form>
  </div>