@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                    <a class="navbar-brand" href="index (1).html"><img src="img/juegos olimpicos.png" alt="" href="@Url.Action("Index")"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("Deportes")">Deportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Paises")">Paises</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AgregarDeportista")">Agregar Deportista</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Creditos")">Creditos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="bienvenida">
        <div>
            <h1>Bienvenidos a la pagina oficial de los juegos olimpicos París 2024</h1>
        </div>
        <div>
            <blockquote class="blockquote">
            <p>Aqui encontraras informacion de los deportes y deportistas que quieras de los paises seleccionados</p>
            </blockquote>
        </div>  
    </section>
    <p>
        <iframe width="1128" height="635" src="https://www.youtube.com/embed/5bP10ECCj5E" title="Conoce a la mascota de los Juegos Olímpicos París 2024" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    </p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top bg-black text-center">
        <div class="col mb-3 ms-4">
          <img src="olympics logo.png" >
        </div>  
        <div class="col mb-3">
            <h5 style="color: white">Olympic Games</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Historia</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Registrar Deportista</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Méritos</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5 style="color: white">En Vivo</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Coberturas en Tiempo Real</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Producciones Exclusivas</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> Señales de TV </a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5 style="color: white">Mas sobre los Olympics</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Competidores</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paises</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Competencias</a></li>
            </ul>
        </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
