<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href='@Url.Action("Index")'><img src="img/juegos olimpicos.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <p class="h4"><a class="nav-link" href='@Url.Action("Deportes")'>Deportes</a></p>
            </li>
            <li class="nav-item">
              <p class="h4"><a class="nav-link" href='@Url.Action("Paises")'>Paises</a></p>
            </li>
            <li class="nav-item">
              <p class="h4"><a class="nav-link" href='@Url.Action("AgregarDeportista")'>Agregar deportista</a></p>
            </li>
            <li class="nav-item">
              <p class="h4"><a class="nav-link" href='@Url.Action("Creditos")'>Creditos</a></p>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
        @RenderBody()
    </main>
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top bg-black text-center">
    <div class="col mb-3 ms-4">
      <img src="olympics logo.png" width="70%" height="auto">
    </div>
    <div class="col mb-3">
      <h5 style="color: white">Juegos Olimpicos</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paris 2024</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Historia</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Agregar Atleta</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Creditos</a></li>
      </ul>
    </div>
    <div class="col mb-3">
        <h5 style="color: white">Olimpyc Channel</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Canales de TV</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Eventos en vivo</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Series Originales</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Corporativo</a></li>
        </ul>
    </div>
    <div class="col mb-3">
        <h5 style="color: white">Explora</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Paises</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Atletas</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Deportes</a></li>
        </ul>
    </div>
  </footer>
</body>
</html>
